@define-color color_bg #eeeff5;
@define-color color_bg_dark #aeafb5;
@define-color color_border #12647b;
@define-color color_border_active #12647b;
@define-color color_text #000406;
@define-color color_urgent #9b0406;

/* -- base styles -- */

* {
    font-family:   sans-serif, "IBM Plex Mono";
    /*font-size: 14px;*/
    border: none;
    border-radius: 0;
	margin-top: 0;
	min-width: 8px;
	min-height: 22px;
}

box, menubar, button {
    background-color: @color_bg;
    background-image: none;
    box-shadow: none;
}

button, label {
    color: @color_text;
}

button:hover {
    background-color: @color_border;
}

scale trough {
    min-width: 1px;
    min-height: 2px;
}

#bar {
    border-top: 2px solid @color_border;
    border-bottom: 2px solid @color_border;
    border-left: 2px solid @color_border;
    border-right: 2px solid @color_border;
}

.popup {
    border: 1px solid @color_border;
    padding: 1em;
}

/* -- clock -- */

.clock {
	font-size: 14px;
    font-weight: bold;
    margin-left: 0px;
}



.popup-clock .calendar-clock {
    color: @color_text;
    font-size: 2.5em;
    padding-bottom: 0.1em;
}

.popup-clock .calendar {
    background-color: @color_bg;
    color: @color_text;
}

.popup-clock .calendar .header {
    padding-top: 1em;
    border-top: 1px solid @color_border;
    font-size: 1.5em;
}

.popup-clock .calendar:selected {
    background-color: @color_border_active;
}

#bar-1 #end {
	border-top: 4px solid @color_border_active;
	border-bottom: 4px solid @color_border_active;
}

#bar-1 #center {
	border-top: 4px solid @color_border_active;
	border-bottom: 4px solid @color_border_active;
}

#bar-1 #start {
	border-top: 4px solid @color_border_active;
	border-bottom: 4px solid @color_border_active;
}

/* -- launcher -- */

.launcher .item {

	border-top: 2px solid @color_border_active;
	border-bottom: 2px solid @color_border_active;
}

.launcher .ifix examtem:not(.focused):hover {
    background-color: @color_bg_dark;
}

.launcher .open {
    border-bottom: 2px solid @color_bg_dark;
    border-top: 2px solid @color_bg_dark;
    border-left: 2px solid @color_bg_dark;
    border-right: 2px solid @color_bg_dark;
}

.launcher .focused {
    border-bottom: 2px solid @color_urgent;
    border-top: 2px solid @color_urgent;
    border-left: 2px solid @color_urgent;
    border-right: 2px solid @color_urgent;
}

.launcher .urgent {
    border-bottom-color: @color_urgent;
}

.popup-launcher {
    padding: 0;
}

.popup-launcher .popup-item:not(:first-child) {
    border-top: 1px solid @color_border;
}

/* -- tray -- */

.tray .popup {
	background-color: @color_bg;
}

/* -- music -- */


.music .contents * {
	font-size: 14px;
	-gtk-outline-bottom-left-radius: 0px;
	-gtk-outline-top-left-radius: 0px;
	-gtk-outline-bottom-right-radius: 0px;
	-gtk-outline-top-right-radius: 0px;
	border-image-width: 0px;
	outline-offset: 0px;
	outline-width: 0px;
}

.music:hover * {
    background-color: @color_bg_dark;
}

.popup-music .album-art {
    margin-right: 1em;
}

.popup-music .icon-box {
    margin-right: 0.4em;
}

.popup-music .title .icon, .popup-music .title .label {
    font-size: 1.7em;
}

.popup-music .controls *:disabled {
    color: @color_border;
}

.popup-music .volume .slider slider {
    border-radius: 50%;
}

.popup-music .volume .icon {
    margin-left: 4px;
}

.popup-music .progress .slider slider {
    border-radius: 50%;
}

/* volume */

.volume {
	font-size: 16px;
}

/* -- custom: power menu -- */


.popup-power-menu .power-btn {
    border: 1px solid @color_border;
    padding: 0.3em 1.5em;
}

.wesa_ripoto {
	font-family: "IBM Plex Mono", sans-serif;
}


.popup-wesa_ripoto {
	font-family: "IBM Plex Mono";
}
